.header{
  display: flex;
  height: 100vh;

  &-block {
    flex: 1;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &-video {
    flex: 2;

    picture, img {
      width: 100%;
      height: 100%;
      position: relative;
    }

    picture:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: black;
    }

    &:before {
      @include headerVideoPseudoElement;

      width: 54px;
      height: 54px;
      background: #FFFFFF;
      box-shadow: 0px 4px 24px rgba(74, 74, 74, 0.5);
      border-radius: 50%;
      z-index: 1;
    }

    &:after {
      @include headerVideoPseudoElement;
      transform: translate(-25%, -50%);
      z-index: 4;
      border: 9px solid transparent;
      border-left: 16px solid #C7A17A;

    }
  }

  &-basket {
    margin-top: 100px;
    position: relative;
    cursor: pointer;
    margin-left: 60px;

    &:before{
      content: attr(data-basket-number);
      position: absolute;
      top: -15px;
      right: -13px;
      height: 17px;
      width: 17px;
      border-radius: 15px;
      background-color: $accentColorAurum;
      color: #fff;
      line-height: 1.3;
      text-align: center;
      font-size: 12px;
      padding: 4px 2px 1px 2px;
    }
  }

  &-nav {
    margin-top: 123px;
    margin-left: 60px;

    a {
      display: block;
      text-align: left;
      text-decoration: none;
      color: white;
      margin-bottom: 30px;
      font-weight: 300;
      font-size: 16px;
      line-height: 1;
    }

    a:last-child {
      margin-bottom: 0;
    }

    &__active {
      font-weight: 700 !important;
    }
  }
}

.header-block-first {
  img {
    margin-top: 76px;
  }

  h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    line-height: 1.3;
    position: absolute;
    bottom: 65px;
    font-size: 54px;
    color: #415167;
    left: 50%;
    transform: translateX(-15%);
    text-transform: uppercase;
    z-index: 1;

    span:first-child {
      text-transform: capitalize;
    }

    span:not(:first-child) {
      background: #C7A17A;
      padding: 5px 15px;
      color: #fff;
      margin: 5px 0;
      display: inline-block;
    }
  }
}

.header-block.blue-rectangle {
  align-items: baseline;
  justify-content: start;
}
